* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.destinations__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.destinations__card__img {
    width: 100%;
    display: block;
}